body{
    margin: 0;
    padding: 0;
    background-color: mediumpurple;
}
#glasses{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9;
    
}
#glasses img{
   height: 300px;
    width: 700px; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#rightGlass,#leftGlass{
   height: 220px;
    width: 640px;
    position: absolute;
    top: 35.2%;
    left: 28.1%;
    -webkit-clip-path:polygon(96% 13%,97% 48%,95% 68%,90% 87%,84% 98%,79% 97%,69% 93%,64% 85%,60% 72%,57% 57%,55% 35%,57% 19%,61% 11%,68% 5%,76% 3%,85% 4%);
    overflow: hidden;
}
#leftGlass{
    left: 27.7%;
    transform: rotateY(180deg);
}